<div class="card-product">
  <%= (cl_image_tag @cocktail.photo.key) || (image_tag @cocktail.image_url) %>
  <div class="card-product-infos flex-fill">
    <div class="row mb-2">
      <div class="col">
        <h1><%= @cocktail.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8 pr-5">
        <h2>Instructions</h2>
        <p><%= @cocktail.instructions %></p>
        <%= link_to "Edit", edit_cocktail_path, class: "btn btn-outline-dark mt-3 w-25" %>
        <%= link_to "Destroy", cocktail_path, method: 'delete', data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark mt-3 w-25" %>
      </div>
      <div class="col-4">
        <h2>Ingredients</h2>
        <table class="table table-sm table-borderless">
          <tbody>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.ingredient.name %></td>
                <td><%= dose.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="row mb-2">
    <div class="col">
      <h2>Reviews</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-sm table-borderless">
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td style="max-width: 18px;">
                <% review.rating.times do %>
                  <i class="fas fa-star" style="margin: -2px;"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star" style="margin: -2px;"></i>
                <% end %>
              </td>
              <td><%= review.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <%= render './reviews/form', cocktail: @cocktail, review: @review %>
    </div>
  </div>
</div>
