<h1 class="d-inline-block"><%= @cocktail.name %></h1>
<%= link_to edit_cocktail_path, class: "align-top text-reset" do %>
  <i class="fas fa-edit"></i>
<% end %>
<%= link_to cocktail_path, method: 'delete', data: { confirm: "Are you sure?" }, class: "align-top text-reset" do %>
  <i class="fas fa-trash-alt"></i>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Ingredient</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td><%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
        <td><%= link_to 'Delete ingredient', dose_path(dose), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Reviews</h4>
<ul>
  <% @reviews.each do |review| %>
    <li class="list-unstyled">
      <small><i class="fas fa-star"></i></small>
      <%= "#{review.rating} — #{review.content}" %>
      <%= link_to edit_cocktail_review_path(@cocktail, review), class: "align-top text-reset" do %>
        <small><i class="fas fa-edit"></i></small>
      <% end %>
      <%= link_to review_path(review), method: 'delete', data: { confirm: "Are you sure?" }, class: "align-top text-reset" do %>
        <small><i class="fas fa-trash-alt"></i></small>
      <% end %>
    </li>
  <% end %>
</ul>
<%= render './reviews/form', cocktail: @cocktail, review: @review %>
